<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Общие стили -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    
    <!-- Динамический заголовок -->
    <title layout:title-pattern="$CONTENT_TITLE | TaskTracker">TaskTracker</title>
    
    <!-- Блок для дополнительных CSS -->
    <th:block layout:fragment="styles"></th:block>
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments/header :: header}"></div>
    
    <!-- Main Content -->
    <main class="container" layout:fragment="content">
        <!-- Сюда будет подставляться контент конкретной страницы -->
    </main>
    
    <script th:src="@{/js/common.js}"></script>

    <!-- Блок для дополнительных скриптов -->
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>