<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Project</title>
</head>
<body>
<div class="container">
    <form method="get"
        th:action="@{/projects/{id}(id=${projectId})}"
        class="filters">

        <label>Status:</label>
        <select name="status">
            <option value="">ALL</option>
            <option th:each="s : ${statuses}"
                    th:value="${s}"
                    th:text="${s}"
                    th:selected="${s == status}">
            </option>
        </select>

        <label>Search:</label>
        <input type="text"
            name="title"
            th:value="${title}"
            placeholder="Task title"/>

        <button type="submit">Apply</button>
    </form>
    <h2>Tasks</h2>

    <ul>
        <li th:each="task : ${tasks}">
            <div class="task-row">
                <span class="task-title" th:text="${task.title}"></span>

                <!-- Форма изменения статуса -->
                <form th:action="@{/projects/{pid}/tasks/{tid}/status(pid=${projectId}, tid=${task.id})}"
                    method="post"
                    class="task-status-form">
                    <select name="status">
                        <option th:each="s : ${statuses}"
                                th:value="${s}"
                                th:text="${s}"
                                th:selected="${s == task.status}">
                        </option>
                    </select>
                    <button type="submit" class="save-btn">Save</button>
                </form>

                <!-- Форма удаления задачи -->
                <form th:action="@{/projects/{pid}/tasks/{tid}/delete(pid=${projectId}, tid=${task.id})}"
                    method="post"
                    class="task-delete-form">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>
        </li>
    </ul>

    <div class="pagination">

        <a th:if="${taskPage.hasPrevious()}"
            th:href="@{/projects/{id}(
                id=${projectId},
                page=${taskPage.number - 1},
                status=${status},
                title=${title}
        )}">
            ← Prev
        </a>

        <span>
            Page <b th:text="${taskPage.number + 1}"></b>
            of <b th:text="${taskPage.totalPages}"></b>
        </span>

        <a th:if="${taskPage.hasNext()}"
        th:href="@{/projects/{id}(
                id=${projectId},
                page=${taskPage.number + 1},
                status=${status},
                title=${title}
        )}">
            Next →
        </a>

    </div>

    <h3>Add task</h3>

    <form th:action="@{/projects/{id}/tasks(id=${projectId})}" method="post">
        <input type="text" name="title" placeholder="Title" required>
        <br>
        <textarea name="description" placeholder="Description"></textarea>
        <br>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>