<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Project</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div layout:fragment="content" class="container">
    <h2 th:text="${project.name}"></h2>
    <form method="get"
        th:action="@{/projects/{id}(id=${project.id})}"
        class="filters">

        <label>Status:</label>
        <select name="status">
            <option value="">ALL</option>
            <option th:each="s : ${statuses}"
                    th:value="${s}"
                    th:text="${s}"
                    th:selected="${s == status}">
            </option>
        </select>

        <label>Search:</label>
        <input type="text"
            name="title"
            th:value="${title}"
            placeholder="Task title"/>

        <button type="submit">Apply</button>
    </form>
    <h2>Tasks</h2>

    <ul>
        <li th:each="task : ${tasks}">
            <div class="task-row">
                <a th:href="@{/projects/{pid}/tasks/{tid}(pid=${project.id}, tid=${task.id})}">
                    <span class="task-title" th:text="${task.title}"></span>
                </a>

                <!-- Форма изменения статуса -->
                <form th:action="@{/projects/{pid}/tasks/{tid}/status(pid=${project.id}, tid=${task.id})}"
                    method="post"
                    class="task-status-form">
                    <select name="status">
                        <option th:each="s : ${statuses}"
                                th:value="${s}"
                                th:text="${s}"
                                th:selected="${s == task.status}">
                        </option>
                    </select>
                    <button type="submit" class="save-btn">Save</button>
                </form>

                <!-- Форма удаления задачи -->
                <form th:action="@{/projects/{pid}/tasks/{tid}/delete(pid=${project.id}, tid=${task.id})}"
                    method="post"
                    class="task-delete-form">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>
        </li>
    </ul>

    <div class="pagination">

        <a th:if="${taskPage.hasPrevious()}"
            th:href="@{/projects/{id}(
                id=${project.id},
                page=${taskPage.number - 1},
                status=${status},
                title=${title}
        )}">
            ← Prev
        </a>

        <span>
            Page <b th:text="${taskPage.number + 1}"></b>
            of <b th:text="${taskPage.totalPages}"></b>
        </span>

        <a th:if="${taskPage.hasNext()}"
        th:href="@{/projects/{id}(
                id=${project.id},
                page=${taskPage.number + 1},
                status=${status},
                title=${title}
        )}">
            Next →
        </a>

    </div>

    <h3>Add task</h3>

    <form th:action="@{/projects/{id}/tasks(id=${project.id})}" th:object="${taskForm}" method="post">
        <input th:field="*{title}" type="text" name="title" placeholder="Title" required>
        <div th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"
            style="color:red">
        </div>
        <br>
        <textarea th:field="*{description}" name="description" placeholder="Description"></textarea>
        <div th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"
            style="color:red">
        </div>
        <br>
        <select th:field="*{priority}">
            <option value="">-- Select priority --</option>
            <option th:each="p : ${priorities}"
                    th:value="${p}"
                    th:text="${p}"
                    th:selected="${p == priority}">
            </option>
        </select>
        <input type="date" th:field="*{dueDate}">
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>